* {
    -fx-font-family: "Calibri";
}

.body {
    -fx-background-image: url("fondo.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.board {
    -fx-background-image: url("tablero.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.pais:hover {
    -fx-cursor: hand;
    -fx-fill: rgba(255, 255, 255, 0.50);
}

.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-background-color: salmon;
}

.labelText {
    -fx-font-size: 24px;
}

.error {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-background-color: #C50000;
    -fx-border-color: black;
    -fx-text-fill: white;
}

.exitButton {
    -fx-background-color: red;
    -fx-font-size: 32px;
}

.startButton {
    -fx-background-color: green;
    -fx-font-size: 32px;
}

.loadButton {
    -fx-background-color: #2ecc71;
    -fx-font-size: 24px;
    -fx-end-margin: 30px;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-shadow-highlight-color;
}

.comboBox {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;
    -fx-cursor: hand;
}

.textField {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;
}

.textField.valid{
    -fx-focus-color: #198754;
    -fx-faint-focus-color: #19875422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
    -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}

.textField.invalid {
    -fx-focus-color: #d35244;
    -fx-faint-focus-color: #d3524422;

    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color:
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
    -fx-prompt-text-fill: transparent;
}