.body {
    -fx-background-image: url("fondo.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-border-width: 3;
    -fx-border-color: black;
    -fx-background-color: salmon;
}

.exitButton {
    -fx-background-color: red;
    -fx-font-size: 32px;
}

.startButton {
    -fx-background-color: green;
    -fx-font-size: 32px;
}

.loadButton {
    -fx-background-color: #2ecc71;
    -fx-font-size: 24px;
    -fx-end-margin: 30px;
}

.button:hover {
    -fx-background-color: -fx-shadow-highlight-color;
}

.comboBox {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;

}

.textField {
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;
}
